.QuestionAnswer{
    padding: 70px 0 100px;
}
.blue-box {
    background: #1A2A79;
    box-shadow: 0px 0px 11px #0000001C;
    border-radius: 16px;
    color: #fff;
    padding: 60px 28px;
}
.white-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 16px #0000001C;
    padding: 60px 28px;
    border-radius: 16px;
}
span.big-heading {
    font-size: 54px;
    font-weight: 900;
}
.question-lottie {
    width: 115px;
    margin: 0 auto 20px;
}