.cms-pages-baner{
    position: relative;
    height: 100%;
    min-height: 720px;
    position: relative;
    padding: 150px 0px;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
}
.cms-heading-content {
    max-width: 735px;
}
.cms-heading-content  h4{
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 600;
}
.cms-heading-content  h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}
.cms-heading-content p{
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    text-transform: capitalize;
}
.cable_tv_content img{
    width: 100%;
    border-top: 7px solid #162466;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.tv_cable_banner{
    background: url(../../../assets/images/cabletv.png) ;
}
.internet_banner{
    background: url(../../../assets/images/internet.png) ;
}
.get-a-qoute_banner{
    background: url(../../../assets/images/qoute_banner.png) ;
    min-height: 78vh !important;
}
.phone_banner{
    background: url(../../../assets/images/phone-bg.png) ;
}
.cms-pages-baner.internet_banner {
    min-height: 730px;
    padding: 100px 0;
}
@media only screen and (max-width: 1600px) {
    .cms-heading-content p {
        font-size: 16px;
        line-height: 26px;
    }
    .cms-heading-content  h2 {
        font-size: 50px;
        line-height: 60px;
    }
    
    .cms-pages-baner{
        padding: 150px 0px 100px;
    }
    .cms-pages-baner.tv_cable_banner {
        min-height: 644px;
        background-size: cover;
    }
    .cms-pages-baner.internet_banner {
        min-height: 608px;
        padding: 100px 0;
    }
   
}
@media only screen and (max-width: 1399px) {
    .cms-pages-baner.tv_cable_banner {
        min-height: 520px;
        padding: 100px 0 0;
    }
    .cms-pages-baner.phone_banner {
        padding: 100px 0;
        min-height: 560px;
    }
    .cms-heading-content  h4 {
        font-size: 26px;
        line-height: 34px;
    }
    .cms-heading-content  h2 {
        font-size: 36px;
        line-height: 43px;
    }
    .get-a-qoute_banner {
        min-height: 65vh !important;
        padding: 100px 0;
    }
    .cms-heading-content p {
        font-size: 14px;
        line-height: 21px;
    }
    .cms-heading-content {
        max-width: 480px;
    }
    .cms-pages-baner.internet_banner {
        min-height: 508px;
    }
}
@media only screen and (max-width: 1199px) {
    .cms-pages-baner.phone_banner {
        padding: 73px 0;
        min-height: 460px;
    }
    .get-a-qoute_banner {
        min-height: 55vh !important;
    }
    .cms-pages-baner.tv_cable_banner {
        min-height: 465px;
        padding: 85px 0 0;
    }
    .cms-heading-content  h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .cms-heading-content  h2 {
        font-size: 33px;
        line-height: 38px;
    }
    .cms-heading-content p {
        font-size: 16px;
        line-height: 20px;
    }
    .cms-pages-baner.internet_banner {
        min-height: 408px;
        padding: 50px 0 100px;
    }
}
@media only screen and (max-width: 992px) {
    .cms-pages-baner.phone_banner {
        padding: 103px 0;
        min-height: 400px;
    }
    .get-a-qoute_banner {
        min-height: 50vh !important;
        padding: 67px 0;
    }
    .cms-pages-baner.tv_cable_banner {
        object-fit: cover;
        background-position: center;
    }
    .cms-heading-content  h2 {
        font-size: 36px;
        line-height: 47px;
    }
    .cms-heading-content p {
        font-size: 14px;
        line-height: 18px;
    }
    .cms-pages-baner {
        background-size: cover !important;
        background-position: center;
        padding: 100px 0 50px;
    }
}
@media only screen and (max-width: 767px) {
    .cms-pages-baner{
        padding: 50px 0;
    }
}
@media only screen and (max-width: 575px) {

    .cms-pages-baner {
        padding-bottom: 0;
    }
    .cms-heading-content  h2 {
        font-size: 25px;
        line-height: 38px;
    }
    .cms-heading-content  h4 {
        font-size: 17px;
    }
    .cms-pages-baner.internet_banner .cms-heading-content h2 {
        font-size: 25px;
        line-height: 38px;
    }.cms-pages-baner.internet_banner .cms-heading-content h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .cms-pages-baner.internet_banner {
        min-height: 358px;
        padding: 50px 0 100px;
    }
}