.cms-pages-baner{
    position: relative;
    height: 100%;
    min-height: 720px;
    position: relative;
    padding: 150px 0px;
    background-repeat: no-repeat !important;
}
.cms-heading-content {
    max-width: 735px;
}
.cms-heading-content  h4{
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: 600;
}
.cms-heading-content  h2{
    font-size: 60px;
    font-weight: 600;
}
.cms-heading-content p{
    font-size: 24px;
    line-height: 35px;
    font-weight: 300;
    text-transform: capitalize;
}
.cable_tv_content img{
    width: 100%;
    border-top: 7px solid #162466;
    border-radius: 6px;
    margin-top: 60px;
}
.tv_cable_banner{
    background: url(../../../assets/images/cabletv.png) ;
}
.internet_banner{
    background: url(../../../assets/images/internet.png) ;
}
.get-a-qoute_banner{
    background: url(../../../assets/images/qoute_banner.png) ;
}
.phone_banner{
    background: url(../../../assets/images/phone-bg.png) ;

}