.faqs-section {
    position: relative;
    padding-bottom: 100px;
}

.faqs-section::before {
    position: absolute;
    content: "";
    background-image: url(../../../../assets/images/baner-right-curve.png);
    background-repeat: no-repeat;
    width: 184px;
    height: 430px;
    top: -150px;
    right: 0;
}

.faqs-content h3 {
    padding-bottom: 30px;
}

h2.accordion-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #070707;
}

.accordion-body {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #070707 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button {
    font-size: 24px !important;
    font-weight: 600;
    color: #070707 !important;
    padding-bottom: 25px !important;
}

@media only screen and (max-width: 1600px) {
    .faqs-section {
        padding-bottom: 50px;
    }

    h2.accordion-header,
    .accordion-button:not(.collapsed),
    .accordion-body {
        font-size: 15px;
        line-height: 22px;
    }

    .accordion-button {
        font-size: 19px !important;
        padding-bottom: 20px !important;
    }
}
@media only screen and (max-width: 1600px) {
    .accordion-button {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 992px) {
    .faq-lottie> svg{
        display: none;
    }
    .faqs-content h3{
        text-align: center;
    }
    .faqs-section::before {
        width: 117px;
        height: 430px;
        top: -150px;
        right: -12px;
    }
    .accordion-button {
        font-size: 14px !important;
        padding-bottom: 16px !important;
    }
}